body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .App {
    text-align: center;
  }
  
  header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  select {
    padding: 5px;
    margin: 10px;
  }
  
  h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  .pagination {
    margin-top: 10px;
  }
  
  button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  